.chat-main
  - if @group
    .chat-header
      .chat-header--left
        %h1
          = @group.name
        %p.chat-header__users
          Members:
          - @group.users.each do |user|
            %span.chat-header__user
              = user.name
      .chat-header--right
        = link_to "Edit", edit_group_path(@group), class: "chat-header__edit-btn"

  .chat-body
    %ul.chat-messages
      - if @messages
        - @messages.each do |message|
          %li.chat-message
            .chat-message__header
              %p.chat-message__name
                = message.user.name
              %p.chat-message__time
                = l message.created_at, format: :default
            %p.chat-message__body
              = message.body

  .chat-footer
    = form_for [@group, @message] do |f|
      .chat-footer__body
        = f.text_area :body, row: "1", placeholder: "type a message"
        -# 以下の画像投稿部分は後で編集する
        %label.chat-footer__file
          %input#message_image{ type: "file", }
          %i.fa.fa-image
      = f.submit "Send"
