- if notice
  %p.layout-notice
    = notice

.chat
  .chat-side
    .chat-user
      %p
        = current_user.name
      .chat-user__actions
        = link_to new_group_path, class: "chat-user__action" do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_registration_path, class: "chat-user__action" do
          %i.fa.fa-cog

    %ul.chat-groups
      - if @groups
        - @groups.each do |group|
          %li.chat-group
            = link_to group_messages_path(group.id), class: "chat-group__link" do
              %p.chat-group__name
                = group.name
              %p.chat-group__message まだメッセージはありません。

  .chat-main
    .chat-header
      .chat-header--left
        %h1 TECH::CAMP
        %p.chat-header__users
          Members:
          %span.chat-header__user kimura
          %span.chat-header__user taro
      .chat-header--right
        %a.chat-header__edit-btn{ href: "#"} Edit

    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-message__header
            %p.chat-message__name taro
            %p.chat-message__time 2016/12/01 08:27:51
          %p.chat-message__body テストです
        %li.chat-message
          .chat-message__header
            %p.chat-message__name kimura
            %p.chat-message__time 2016/12/02 08:27:51
          %p.chat-message__body がんばります
        %li.chat-message
          .chat-message__header
            %p.chat-message__name taro
            %p.chat-message__time 2016/12/01 08:27:51
          %p.chat-message__body テストです
        %li.chat-message
          .chat-message__header
            %p.chat-message__name kimura
            %p.chat-message__time 2016/12/02 08:27:51
          %p.chat-message__body がんばります
        %li.chat-message
          .chat-message__header
            %p.chat-message__name taro
            %p.chat-message__time 2016/12/01 08:27:51
          %p.chat-message__body テストです
        %li.chat-message
          .chat-message__header
            %p.chat-message__name kimura
            %p.chat-message__time 2016/12/02 08:27:51
          %p.chat-message__body がんばります

    .chat-footer
      %form{ action: "#", method: "post" }
        .chat-footer__body
          %textarea{ row: "1", placeholder: "type a message" }
          %label.chat-footer__file
            %input#message_image{ type: "file", }
            %i.fa.fa-image
        %input{ type: "submit", value: "Send" }
